
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    text-align: center;
    background-color: darkgray;
    margin:0;
    padding:0;
}
.menu ul li{
    display: inline-block;
    text-align: right;
    /* margin: 0; */
    padding: 20px;
    right: 0;
    position: absolute;
    margin-right: 20px;
    justify-content: right;

}

.feature{
    display: inline-block;
    /* text-align: right; */
}

nav {
    height: 60px;
    /* width: %; */
    background: #1b5ea1;
    justify-content: right;
    
    
}
img{
    position:absolute;
    text-align: left;
    left: 0;
    font-size: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    /* background-image: url("/images/trombone1.jpg"); */
    
}

.logo span{
    color:white;
}
nav a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 3px 4px;

}
a.active, a.hover{
    border:1px solid white;
    transition: .4s;
}

.feature ul li{
    list-style-type:none;


}
.header h1{
    text-align: center;
}

.header email{
    margin-top: 20px;
    padding: auto;

}
.media{
    padding: 5%;
}
.container{
    display: flex;
    justify-content: center;
    padding: 60px;


}
.container h1{
    text-align: center;
    padding: 10%;
}
.card {
    background-color:white ;
    width: 280px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    
}
.card-image{
    background-color:aqua ;
    height: 50px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    background-size: cover;

}
.trombone-1{
    background-image: url("/images/trombone1.jpg");
    height:50% ;
    width: 100%;
    


    
}
.trombone-2{
    background-image: url("/images/trombone2.jpeg");
    height:50% ;
    width: 100%;
    
    
}
.trombone-3{
    background-image: url("/images/trombone3.jpeg");
    height:50% ;
    width: 100%;
    
}


@media (max-width: 700px) {
    div {
      max-width: 80%;
          }
        }
.forms{
    background-color: #f0f5f5;
    text-align: center;
    padding: 80px;
    border-radius: 15px;
    max-width: 35%;
    margin: auto;
    height: 100px;
    margin-bottom: 40px;
        }
.forms button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 19px;
    /* color: yello; */
    text-decoration: none;
}